html {
	background: url("../resources/image/login_background.jpg") no-repeat center center
		fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-background-size: cover;
}

table {
	
}

.panelLogin { 
	opacity: 0.6; 
	border-radius: 20px; 
	box-shadow: 3px 5px 20px #000; 
	box-shadow: inset -2px 5px 20px #000;
}

.panelLogin:HOVER { 
	opacity: 0.8; 
	border-radius: 20px; 
	box-shadow: 3px 5px 20px #000; 
	box-shadow: inset -2px 5px 20px #000;
}

.labelNomeSistema {
	font-size: 14pt; 
	font-family: Comic Sans, Comic Sans MS, cursive; 
	font-weight: bold;
}